# django
SECRET_KEY = abcd1234...
DEBUG = 0
DJANGO_ALLOWED_HOSTS = host1 host2
STRIPE_API_KEY = abcd1234...

# postgress
POSTGRES_USER = abcd1234...
POSTGRES_PASSWORD = abcd1234...
POSTGRES_HOST = host
POSTGRES_PORT = 1234
POSTGRES_DB = abcd1234...